#root {
  padding: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

table, th, tr, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  background: #1ea1b1;
}

.form-users {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  row-gap: 10px;
  margin-top: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #074c48;
}

.add-form {
  padding: 10px;
  background: #ffc638;
  border: 2px dotted #a90c0c;
  font-size: 16px;
  font-weight: 600;
}

.btn {
  font-family: 'Poppins', sans-serif;
  background: burlywood;
  border: 2px solid white;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
  cursor: pointer
}
.btn:hover{
  background: #9c794c;
  font-size: 18px;
}

.btn-del {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  cursor: pointer
}

.btn-del:hover {
  background: #dd0f0f;
  font-weight: 600;
}